*{
    margin: 0;
    padding: 0;
}
.container{
    background-image: linear-gradient(45deg,rgb(14, 14, 14),rgb(117, 46, 139));
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    height: 100vh;
    text-align: center;
}
.calculatorContainer{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: #fff;
    margin: 3px;
}
.button:hover{
    background-color: #000;
}
input[type="text"]{
    background-color: #fff;
    width: 207px;
    height: 30px;
    margin: 5px;
    color: #000;
    font-size: 25px;
    text-align: right;
    padding: 5px;
    border: none;
}