body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
fieldset{
    width: 300px;
    padding: 15px;
}
input[type="submit"]{
    margin: 5px;
    background-color: rgb(31, 31, 31);
    color: #fff;
    border: none;
    padding: 5px;
}
input[type="number"]{
    width: 250px;
    outline: none;
    padding: 5px;
}
p{
    font-size: 18px;
    text-align: center;

}