*{
margin:0;
padding: 0;
box-sizing: border-box;
}
body{
  background-color: linear-gradient(45deg,rgb(145, 84, 149) 50%,rgb(233, 3, 137)) 50%;
}
.container{
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    background-color: darkslategray;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    margin: 5px;
    padding: 10px;
    border: none;
}
input[type="submit"]{
    background: linear-gradient(45deg,rgb(145, 84, 149) 50%,rgb(233, 3, 137)) 50%;
    color: #fff;
}
main{
    height: 100vh;
    background-color: linear-gradient(45deg,rgb(145, 84, 149) 50%,rgb(233, 3, 137)) 50%;
}